@{
    ViewBag.Title = "Home Page";
}
@model ISpeak.Models.Users
<!DOCTYPE html>
<html>
<head>
    <title>Registration and Login Form</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .background-image {
            background-image: url('../../İmages/ispeak2.png');
            background-size: cover;
            background-position: center;
            min-height: 100vh; /* Full height of the viewport */
            position: relative;
        }

        /* Transparent overlay div */
        .overlay {
            background-color: rgba(0, 0, 0, 0.6); /* Set the background color with transparency (RGBA) */
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        /* Content styles */
        .content {
            position: relative;
            z-index: 1; /* Bring the content above the overlay */
            padding: 20px;
            color: white;
        }
    </style>
</head>
<body class="backg bg-opacity-25 text-dark">
    <div class="background-image">
        <div class="overlay"></div>
        <main class="content">
            <main>
                <div class="container">
                    <div class="row">
                        <!-- Left Side: Registration Form -->
                        <div class="col-md-6">
                            <div class="card-body">

                                <h2>Registration</h2>
                                <!-- Add your registration form fields here -->
                                @using (Html.BeginForm("Create", "Home", FormMethod.Post))
                                {
                                    <form>
                                        <!-- Example form fields -->
                                        <div class="form-group">
                                            <label for="username">Username:</label>

                                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Kullanıcı Adı" })


                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email:</label>

                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })

                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password:</label>

                                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })

                                        </div>
                                        <div class="form-group">
                                            <label for="Cinsiyet">Cinsiyet:</label>

                                            @{
                                                List<SelectListItem> genders = new List<SelectListItem>   
                                                                                                                                                                                                                                                                                                                                              {
                                          new SelectListItem { Text = "Erkek", Value = "Erkek" },
                                          new SelectListItem { Text = "Kadın", Value = "Kadın" }
                                          };
                                                List<string> selectedGenders = new List<string> { "Male" };

                                            }


                                            @Html.DropDownList("Gender", genders, "Cinsiyet Seçimi", new { @class = "form-control" })
                                        </div>

                                        <div class="form-group">
                                            <label for="Date_of_birth">Doğum yılı:</label>

                                            @Html.TextBoxFor(model => model.Date_of_birth, "{0:dd.MM.yyyy}", new { @class = "form-control", type = "date" })
                                        </div>
                                        <div class="form-group">
                                            <label for="Description">Hakkında:</label>

                                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Hakkında" })
                                        </div>
                                        <div class="form-group">
                                            <label for="Cinsiyet">Ülke:</label>

                                            @{
                                                List<SelectListItem> Country = new List<SelectListItem>
                                                 {
                                                 new SelectListItem { Text = "Türkiye", Value = "TR" },
                                                 new SelectListItem { Text = "Amerika Birleşik Devletleri", Value = "US" },
                                                 new SelectListItem { Text = "Almanya", Value = "DE" },
                                                 new SelectListItem { Text = "Fransa", Value = "FR" },
                                                  new SelectListItem { Text = "Birleşik Krallık", Value = "GB" },

                                                  };
                                                List<string> selectedcountry = new List<string> { "Türkiye" };

                                            }


                                                @Html.DropDownList("Country", Country, "Ülke Seçimi", new { @class = "form-control" })
                                        </div>

                                        <!-- Add more form fields as needed -->
                                        <button type="submit" class="btn btn-primary">Register</button>
                                    </form>
                                }
                            </div>
                        </div>

                        <!-- Right Side: Login Form -->
                        <div class="col-md-6">
                            <div class="card-body">
                                <h2>Login</h2>
                                <!-- Add your login form fields here -->
                                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                                {
                                    <form>
                                        <!-- Example form fields -->
                                        <div class="form-group">
                                            <label for="login-username">Username:</label>

                                            @Html.PasswordFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                                        </div>
                                        <div class="form-group">
                                            <label for="login-password">Password:</label>

                                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                                        </div>
                                        <!-- Add more form fields as needed -->
                                        <button type="submit" class="btn btn-primary">Login</button>
                                    </form>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </main>
        </main>
    </div>
   


    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
